body{
    background-image: url(Orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
div.center{
    text-align: center;
}
#gallery-title{
    background-color: orange;
    width: 15%;
    height: 40px;
    margin: auto;
    border: 5px solid lightblue;
    text-align: center;
}
div.gallery-proper{
    text-align: center;
}
#pics{
    border: 5px solid black;
}
.column {
    float: left;
    width: 30%;
    padding: 15px;
   
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
div.home-btn{
    text-align: center;
}
button.back-btn{
    background-color: white;
    width: 10%;
    cursor: pointer;
}